<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}"> -->
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>Home</title>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper_pageBanner">
            <img src="/static/img/comass_logo.jpg" class="pageBanner_img" alt="">
        </div>
    
        <nav class="wrapper_navBar">
            <li class="navBar_item">
                <a href="#" class="item_link"> Контактная информация </a>
            </li>

            <li class="navBar_item">
                <a href="#" class="item_link"> Оставить заявку </a>
            </li>

            <li class="navBar_item">
                <a href="#" class="item_link"> Акционерам и инвесторам </a>
            </li>

            <li class="navBar_item">
                <a href="#" class="item_link"> Проекты </a>
            </li>
        </nav>

        <div class="wrapper_imgCont">
            <img src="/static/img/prod.jpg" class="imgCont_img" alt="">

            <img src="/static/img/car.jpg" class="imgCont_img" alt="">

            <img src="/static/img/toilets_nice.jpg" class="imgCont_img" alt="">
        </div>

        <div class="wrapper_mainContent">
            <div class="mainContent_heading">

                <h2 class="heading_text">
                    О нас
                </h2>
            </div>

            <div class="mainContent_paragraph">
                <div class="paragraph_text">

                    <b>ООО "COMASS" - </b>

                    <b>Духовное просвещение молодого поколения посредством визуального дизайна в сфере переработки отходов</b><br><br>

                    <b>Основные Цели</b>
                    <li>Предоставление услуг комфорта</li> 
                    <li>Переработка отходов</li>
                    <li>Дальнейшая реализация отходов в качестве биотоплива</li>
                    <li>Духовное просвещение в области исскуства</li>
                </div>
            </div>
        </div>

        <div class="wrapper_imgCont">
            <img src="/static/img/toilet_graffiti.jpg" class="imgCont_img" alt="">

            <img src="/static/img/toilets.jpg" class="imgCont_img" alt="">

            <img src="/static/img/toilet_graffiti_two.jpg" class="imgCont_img" alt="">
        </div>
    </div>
</body>
</html>